body {
	background: lightgray;
}
.link {
	background: green;
	margin-top: 10px;
	font-size: 16px;
}

.link:hover {
	font-size: 17px;
	background: darkgreen;
}

#time {
	animation-name: blink;
	animation-duration: 5s;
	animation-iteration-count: infinite;
}

@keyframes blink {
	0%{
		color: white;
	}

	20%{
		color: orange;
	}
	40% {
		color: black;
	}
	60%{
		color: green;
	}
	80%{
		color: blue;
	}
	100% {
		color: red;
	}
}

