{% load static %}
<!DOCTYPE html>
<html lang='en'>
	<head>
		<meta charset='UTF-8'>
		<meta name='viewport' content='width=device-width, initial-scale=1'>
		<link rel='stylesheet' type='text/css' href="{% static 'css/bootstrap.min.css' %}">
		<title>{{title}}</title>
		<link rel="stylesheet" type='text/css' href="{% static 'css/user_styles.css' %}">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	</head>
	<body>
		<div class='container'>
				<!-- head section design -->
	<div class="row badge-primary">
		<div class="col-md-2"> 
			<!-- user profile -->
		<i class="fa fa-user"> 
		{% if is_user_logged_in %}
		{{request.session.username}}
		{% else %}
		User
		{% endif %}
		</i> 
		</div>
		<div class="col-md-8">
			<h2 class="text-center text-uppercase text-white">Transaction Accountant</h2>
		</div>
		<div class="col-md-1">
			<!-- Sign in -->
			<div class="link text-center">
				<a href="/sign_up" class="text-white">Signup</a>
			</div>
		</div>
		<div class="col-md-1">
			<!-- Log in -->
			<div class="link text-center">
				<a href="/login" class="text-white">Login</a>
			</div>
		</div>
	</div>
	<hr>
		{% block content %}
			<!-- Code will be here -->
		{% endblock %}
		</div>
		<script src="{% static 'js/jquery.js' %}"></script>
		<script src="{% static 'js/bootstrap.min.js' %}"></script>
	</body>
</html>	
