{% load static %}
<!DOCTYPE html>
<html lang='en'>
	<head>
		<meta charset='UTF-8'>
		<meta name='viewport' content='width=device-width, initial-scale=1'>
		<link rel='stylesheet' type='text/css' href="{% static 'css/bootstrap.min.css' %}">
		<title>{{title}}</title>
		<link rel="stylesheet" type='text/css' href="{% static 'css/user_styles.css' %}">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	</head>
	<body>
		<div class='container'>
			<!-- head section design -->
			<div class="row badge-primary">
				<div class="col-md-3">
					<!-- user profile -->
					<i class="fa fa-user">
					{% if 'username' in request.session %}
						Logged in as, <p>
							<a href="/profile" class="text-white">
								<strong>{{request.session.username}}</strong>
							</a>
						</p>
					{% else %}
						<i>User</i>
					{% endif %}
					</i>
				</div>
				<div class="col-md-5">
					<a href="/home" id="nounderline">
						<h2 class="text-center text-uppercase text-white">Transaction Accountant</h2>
					</a>
				</div>
				<div class="col-md-2">
					<!-- Sign in -->
					{% if 'username' not in request.session %}
						<div class="link text-center">
							<a href="/sign_up" class="text-white fa fa-sign-in"> Signup</a>
						</div>
					{% endif %}
				</div>
				<div class="col-md-2">
					<!-- Log in -->
					{% if 'username' in request.session %}
						<div class="link text-center">
							<a href="/logout" class="text-white fa fa-sign-out">Logout</a>
						</div>
					{% else %}
						<div class="link text-center">
							<a href="/login" class="text-white fa fa-sign-in"> Login</a>
						</div>
					{% endif %}
				</div>
			</div>
			<hr>
			{% block content %}
				<!-- Code will be here -->
			{% endblock %}
			
		</div>
		<script src="{% static 'js/jquery.js' %}"></script>
		<script src="{% static 'js/bootstrap.min.js' %}"></script>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
	</body>
</html>