{% extends 'base.html' %}
{% block content %}
	<div class="row">
		<div class="col-md-4">
			<!-- Transaction Name List -->
			<div class="table-responsive">
				<table class="table table-bordered table-hover table-striped">
					<thead class="text-center text-capitalize badge-info">
						<tr>
							<th>
								transaction list
								<div class="badge badge-success">1</div>
							</th>
						</tr>
					</thead>
					<tbody>
						<!-- incomplete -->
						{% if 'username' in request.session %}
							<tr>
								<td>
									Editing
								</td>
							</tr>
						{% else %}
							<tr>
								<td>
									<p>
										Please,	<i><a href="/login">Login</a></i>  to view the lists.
									</p>
								</td>
							</tr>
						{% endif %}
					</tbody>
				</table>
			</div>
		</div>
		<div class="col-md-6">
			<!-- Output screen -->
			{% if 'username' in request.session %}
				{% if messages %}
					{% for message in messages %}
						{% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
							<form action="/create_list" class="" method="post">
								
								<div class="table-responsive">
								<table class="table">
									 {% csrf_token %}
									{% for field in transaction_list_form %}
										<tr>
											<td>
												<div class="form-control text-capitalize bg-success text-white">
													{{field.label}}
												</div>
											</td>
											<td>
												{{field}}
											</td>
										</tr>										
									{% endfor %}
								</table>
							</div>
							<button class="form-control btn btn-info font-weight-bold" name="submit" id='id_submit'>Submit</button>
							</form>
							
						{% endif %}
					{% endfor %}
				{% endif %}
			{% endif %}
		</div>
		<div class="col-md-2">
			{% if 'username' in request.session %}
				<div class="text-right">
					<a href="/create_list" class="text-white btn btn-primary">
						<i class="fa fa-plus-circle"></i> Create new list
					</a>
				</div>
				
			{% endif %}
		</div>
	</div>
	
{% endblock %}