{% extends 'base.html' %}
{% block content %}
	<div class="row">
		<div class="col-md-4">
			<!-- Transaction Name List -->
			<div class="table-responsive">
				<table class="table table-bordered table-hover table-striped">
					<thead class="text-center text-capitalize badge-info">
						<tr>
							<th>
								transaction list
							</th>
						</tr>
					</thead>
					<tbody>
						<!-- incomplete -->
						{% if 'username' in request.session %}
							{% for list_val in transaction_list %}
								<tr>
									<td>
										{{list_val}}
									</td>
								</tr>
							{% endfor %}
						{% else %}
							<tr>
								<td>
									<p>
										Please,	<i><a href="/login">Login</a></i>  to view the lists.
									</p>
								</td>
							</tr>
						{% endif %}
					</tbody>
				</table>
			</div>
		</div>
		<div class="col-md-8">
			<!-- Output screen -->
			{% if 'username' in request.session %}
				<div class="alert alert-success">
					<strong>SUCCESS!</strong> You're successfully logged in.
				</div>
			{% endif %}
		</div>
	</div>
	
{% endblock %}