{% extends 'base.html' %}
{% block content %}
	{% if 'username' not in request.session %}
		<div class="row">
			<div class="col-md-3">
				
			</div>
			<div class="col-md-6">
				<form action="/sign_up" method="post" role="form">
					{% csrf_token %}
					<div class="form-group">
						<div class="table-responsive">
							{% if messages %}
								<caption>
								<div class="text-center">
									{% for message in messages %}
										{% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
											<div class="alert alert-danger">
												<strong>WARNING:</strong> {{message}}
											</div>
										{% endif %}
									{% endfor %}
								</div>
								</caption>
							{% endif %}
							<table class="table">
								
								{% for field in form %}
									<tr>
										<td>
											<div class="form-control text-center text-capitalize badge-info font-weight-bold">
												{{field.label}}
											</div>
										</td>
										<td>
											{{field}}
										</td>
									</tr>
								{% endfor %}
								
							</table>
							<div class="text-center">
								
								<button type="reset" name="btn_reset" class="btn btn-primary  text-capitalize btn-md">reset information
								<i class="fa fa-undo"></i>
								</button>
								<button type="submit" class="btn btn-primary  text-capitalize btn-md">Create Account
								<i class="fa fa-sign-in"></i>
								</button>
							</div>
						</div>
					</div>
				</form>
			</div>
			<div class="col-md-3">
				
			</div>
		</div>
	{% else %}
		<meta http-equiv="refresh" content="0; url=/home">
	{% endif %}
{% endblock %}