{% extends 'base.html' %}
{% block content %}
	<div class="row">
		<div class="col-md-12">
			<form action="/sign_up" method="post" role="form">
				{% csrf_token %}
				<div class="form-group">
					<div class="table-responsive">
					{% if messages %}
						<caption>
								<div class="text-center">
									{% for message in messages %}
									{% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
									<div class="alert alert-danger">
									<strong>WARNING:</strong> {{message}}
									</div>
									{% endif %}
								{% endfor %}
								</div>
							</caption>
						{% endif %}
						<table class="table">
							
							{% for field in form %}
							<tr>
								<td class="text-right">
									{{field.label}}
								</td>
								<td>
									{{field}}
								</td>
							</tr>
							{% endfor %}
							<tr>
								<td>
									
								</td>
								<td>
									<button type="submit" class="btn btn-primary">Create Account
									<i class="fa fa-sign-in"></i>
									</button>
								</td>
							</tr>
						</table>
					</div>
				</div>
			</form>
		</div>
	</div>
{% endblock %}